
// Color system

// scss-docs-start gray-color-variables
//Background color
$white:    #1A1D2E;

$gray-100: #f8f9fa; 
$gray-200: #e9ecef; 
$gray-300: #dee2e6;
$gray-400: #ced4da; 
$gray-500: #adb5bd; 
$gray-600: #6c757d; 
$gray-700: #495057; 
$gray-800: #343a40;

//Font color 
$gray-900: #fff;

$black:    #000; 

// Typography

//Font family
$font-family-sans-serif: "Helvetica Neue", sans-serif;

//Font weight headings
$headings-font-weight:        300;
//Font weight text
$font-weight-normal:          300;
// Input border color
$input-border-color:                    rgba(235, 192, 255, 1);

// scss-docs-start btn-variables
$btn-color: linear-gradient(100deg, #EABDFF 6.95%, #A097FA 100%);

$btn-primary-bg: #ff5733;

$bg-primary: #198754;
