
// Color system

// scss-docs-start gray-color-variables
//Background color
$white:    #1A1D2E;

//Font color 
$gray-900: #F5F5F5;

// Typography

//Font family
$font-family-sans-serif: "Helvetica Neue", sans-serif;

//Font weight headings
$headings-font-weight:        300;
//Font weight text
$font-weight-normal:          300;

// Nav bar
$navbar-light-active-color:         #EBC0FF;
$navbar-light-hover-color:  #d506ff;
// this is also border around hamburger bar
$navbar-light-color: #F5F5F5;


$navbar-light-icon-color: #EBC0FF;

// Input border color
$input-border-color:                   #EBC0FF;
$input-btn-border-width: 0.5px;

// Primary button
$primary: #EABDFF;
$btn-link-color:              #fff;
$btn-link-hover-color:  #d506ff;

$btn-border-width:            0.5px;

.btn-primary {
  background: linear-gradient(100deg, #EABDFF 6.95%, #A097FA 100%);
}

//secondary button
$secondary: #EABDFF;

//Cards
$card-border-color: none;